* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  /* border: 1px solid blue; */
}

:root {
  --color-white: #ffffff;
  --color-light: #f0eff5;
  --color-gray-light: #86848c;
  --color-gray-dark: #56555e;
  --color-black: black;
  --box-shadow-black: rgba(0, 0, 0, 0.1);
  --box-shadow-white: rgba(255, 255, 255, 0.1);

  --color-gray-light--white: #f0eff5;
  --color-black--gray-dark: #27282f;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-light);

  /* overflow-x: hidden; */
}

a {
  color: var(--color-black);
}

.header {
  background-color: var(--color-black);
  color: var(--color-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header h1 {
  font-size: 3.4rem;
}

.header a {
  color: orange;
}

.header a:hover {
  background-color: aqua;
  border-radius: 5px;
}

main {
  display: flex;
  /* background-color: blue; */
  height: 86vh;
  flex-direction: column;
  padding: 50px 50px 100px 50px;
  overflow-y: scroll;
  row-gap: 10px;
}

main .card-alamat {
  background-color: var(--color-white);
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  box-shadow: 1px 1px 1px var(--box-shadow-black);
}

#btn-tambah-alamat {
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--color-white);
  color: orange;
  border: 1px solid orange;
}

#btn-tambah-alamat:hover {
  background-color: orange;
  color: var(--color-white);
}

main .barang-pembelian {
  background-color: var(--color-white);
  padding: 15px 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px var(--box-shadow-black);
}

main .header-table,
main .body {
  display: flex;
  justify-content: space-between;
  box-shadow: 1px 1px 1px var(--box-shadow-black);
}

main .jumlah,
main .harga,
main .total {
  width: 150px;
}

main .barang {
  width: 300px;
}

main h1,
main p {
  text-align: center;
}

main .header-table,
main .body {
  margin-bottom: 10px;
  background-color: var(--color-white);
  padding: 5px 10px;
  border-radius: 10px;
}

main .body .image-barang {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

main .body img {
  width: 60px;
}

main .body .vertikal {
  display: flex;
  align-items: center;
}

main .bayar {
  background-color: var(--color-white);
  border-radius: 10px;
  box-shadow: 1px 1px 1px var(--box-shadow-black);
}

main .bayar form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

main .bayar form #btn-bayar {
  color: blue;
  border: 1px solid blue;
  padding: 15px 20px;
  border-radius: 10px;
}

main .bayar form #btn-bayar:hover {
  background-color: blue;
  color: var(--color-white);
}
